{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="post-content">
        {{ post.content }}
        <button onclick="editPost()">Edit</button>
    </div>

    <div id="edit-form" style="display: none;">
        <form id="edit-post-form" method="post" action="{% url 'edit_post' post.id %}">
            {% csrf_token %}
            <textarea  name="content" rows="1" cols="50"   required>{{ post.content }}</textarea><br>
            <input type="submit" value="Save">
            <button type="button" onclick="cancelEdit()">Cancel</button>
        </form>
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'network/edit_post.js' %}"></script>
{% endblock %}